/* Estilo para los inputs */
input {
    border: 2px solid #4db6ac; /* Borde suave */
    border-radius: 0; /* Bordes cuadrados */
    padding: 10px; /* Espaciado interno */
    font-family: 'Press Start 2P', cursive; /* Fuente tipo pixel */
    background-color: #b2ebf2; /* Color de fondo pastel */
    width: 100%; /* Asegurar que el input ocupe el ancho completo */
    box-sizing: border-box; /* Incluir padding y borde en el ancho total */
}

/* Eliminar el contorno por defecto */
input:focus {
    outline: none; /* Eliminar el contorno por defecto */
    border-color: #00796b; /* Cambiar color del borde al enfocar */
}

label{
    font-family: 'Press Start 2P'; /* Fuente tipo pixel */
    font-size: 16px; /* Tamaño de fuente */
    color: #00796b; /* Color del texto */
}

/* src/app/Components/Inputs/password/password.component.css */
.error-weak {
    color: red; /* Texto rojo para errores débiles */
  }
  
  .error-medium {
    color: orange; /* Texto naranja para errores medios */
  }
  
  .error-strong {
    color: green; /* Texto verde para contraseñas fuertes */
  }
  
  .error {
    color: #d9534f; /* Color rojo oscuro para mensajes de error */
    margin-top: 10px;
  }

  *{
    font-family: 'Press Start 2P'; /* Fuente tipo pixel */
    font-size: 10px; /* Tamaño de fuente */
  }
  