<div>
  <h2>Formulario de Entrada</h2>
  <form (ngSubmit)="onSubmit()">
    <app-email (emailChange)="onEmailChange($event)"></app-email>
    <app-password (passwordChange)="onPasswordChange($event)"></app-password>
    <app-text (textChange)="onTextChange($event)"></app-text>
    
    <app-btn-primario (click)="changeColor()">Cambiar Color</app-btn-primario>
    <app-btn-secundario (click)="incrementSize()">Cambiar Tamaño</app-btn-secundario>
    
    <button type="submit">Enviar</button>
  </form>
  
  <div *ngIf="errorMessage" style="color: red;">
    {{ errorMessage }}
  </div>
</div>

<app-visualizador [color]="currentColor" [size]="size"></app-visualizador>