/* Estilos para el modo oscuro */
body.dark-mode {
  background-color: #1a1a1a;
  /* Fondo oscuro profundo */
  color: #f7f7f7;
  /* Color de letra claro */
}

body.dark-mode p {
  color: #f7f7f7;
  /* Color de letra claro */
}

/* Estilo para el contenedor principal */
body.dark-mode .container {
  background-color: #222;
  /* Fondo del contenedor oscuro */
  color: #f7f7f7;
  /* Color de texto claro */
  padding: 20px;
  /* Espaciado interno del contenedor */
}

/* styles.css o el archivo CSS de tu componente */
.container {
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode h2 {
  color: #ffffff;
  /* Color de título claro */
}

/* Estilos para el modo nocturno */
/* Estilos para el modo nocturno */
body.dark-mode app-btn-primario,
body.dark-mode app-btn-secundario,
body.dark-mode app-btn-aceptar,
body.dark-mode app-btn-cancelar,
body.dark-mode app-btn-night {
  background-color: #424242;
  /* Color de fondo oscuro */
  color: white;
  /* Color del texto en modo oscuro */
  border: 2px solid #616161;
  /* Borde más oscuro */
}



/* Efecto hover para los botones en modo nocturno */
body.dark-mode app-btn-primario:hover,
body.dark-mode app-btn-secundario:hover,
body.dark-mode app-btn-aceptar:hover,
body.dark-mode app-btn-cancelar:hover,
body.dark-mode app-btn-night:hover {
  background-color: #616161;
  /* Color de fondo al pasar el mouse en modo oscuro */
}


body.dark-mode input,
body.dark-mode textarea {
  background-color: #333;
  /* Fondo de entrada oscuro */
  color: #f7f7f7;
  /* Texto de entrada claro */
  border: 1px solid #666;
  /* Borde oscuro */
}

body.dark-mode label {
  color: #f7f7f7;
  /* Color de texto claro */
}


body.dark-mode .details {
  color: #80cbc4;
  /* Color claro para el texto de los detalles */
  background-color: #333;
  /* Fondo oscuro para los detalles */
  border: 1px solid #555;
  /* Borde oscuro alrededor de los detalles */
}

body.dark-mode .details p {
  color: white;
  /* Color claro para el texto de los párrafos en detalles */
}

body.dark-mode .message-box {
  border: 2px solid white;
  /* Borde claro para el cuadro de mensaje */
  background-color: #444;
  /* Fondo oscuro para el cuadro de mensaje */
  color: #f7f7f7;
  /* Color claro del texto del mensaje */
}

body.dark-mode .message-box p {
  color: #f7f7f7;
  /* Color claro para el texto en el cuadro de mensaje */
}
